<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传测试页</title>
</head>
<body>
<div>
    <p>username: {{ user.email }}</p>
    <p>nickname: {{ user.nickname }}</p>
    <form method="post" enctype="multipart/form-data" action="{% url 'api.upload' %}">
        {% csrf_token %}
        <label>
            <input type="text" name="username" value="{{ user.username }}" hidden>
        </label>
        <div><input type="file" name="file"/></div>
        <button type="submit">上传</button>
    </form>
</div>
</body>
</html>